/* reduce margins */
.feed-entry .card-content {
    padding: 1rem;
}

/* entry effects on hover  */
.feed-entry .cnard-content:hover {
    /* FIXME this should use SCSS variables */
    /* background-color:  hsl(0, 0%, 96%) */
}

.feed-entry a .button {
    visibility: hidden;
    /* FIXME this should use SCSS variables */
    /* gray lighter */
    color: hsl(0, 0%, 86%)
}

.feed-entry a .button:hover {
    /* FIXME this should use SCSS variables */
    /* gray dark */
    color: hsl(0, 0%, 29%)
}

.feed-entry:hover .button {
    visibility: visible;
}

.media-url img {
    border-radius: .75rem;
    object-fit: cover;
}

.feed-header {
    margin-bottom:0!important
}


.card.feed-entry  {
    box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
}
