/* reduce margins */
.feed-entry .card-content {
    padding: 1rem;
}

/* entry effects on hover  */
.feed-entry .cnard-content:hover {
    /* FIXME this should use SCSS variables */
    /* background-color:  hsl(0, 0%, 96%) */
}

.feed-entry .button {
    visibility: hidden;
}

.feed-entry:hover .button {
    visibility: visible;
}

.media-url img {
    border-radius: .75rem;
    object-fit: cover;
}

.feed-header {
    margin-bottom:0!important
}


.card.feed-entry  {
    box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
}

.side-bar {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    /* max-height: 100vh; */
    top: 0;
    bottom: 0;
}

.side-bar .button {
    margin-top: .25rem;
}

.button:not(.toggled) {
    /* FIXME this should use SCSS variables */
    color: hsl(0, 0%, 86%)!important
}

.button:not(.toggled):hover,  .button.toggled {
    /* FIXME this should use SCSS variables */
    color: hsl(0, 0%, 29%)!important
}

code{
    white-space:pre-wrap
    }

.reader-modal .modal-content {
    /* this is a hack and an arbitrary number should be changed in variable to work as is-half
https://github.com/jgthms/bulma/blob/master/sass/components/modal.sass#L7C2-L7C21
*/
    width: 60%!important
}
