<!doctype html>
<html class="has-background-light">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/hyperscript.min.js"></script>
    <title>Feedi {% block title %}{% endblock %}</title>
    <meta name="htmx-config" content='{"refreshOnHistoryMiss": true}'>
</head>
<body>
    <section class="container">
        <div class="columns">
            <div class="column is-hidden-touch">
                {% block sidebar_left %}
                <aside class="menu feeds-sidebar">
                    <ul class="menu-list">
                        <li>
                        <div class="level-left">
                            <div class="level-item">
                                <a href="/"><icon class="icon"><i class="fas fa-home"></i></icon> home</a>
                            </div>
                        </div>
                        </li>
                        {% if folders %}
                          <hr class="dropdown-divider"/>
                          {% for (name, feeds) in folders.items() %}
                            {% include "sidebar_folder.html" %}
                          {% endfor %}
                        {% endif %}
                        {% if shortcut_feeds %}
                        <hr class="dropdown-divider"/>
                        {% endif %}
                        {% with name="Social", url="/", feeds=shortcut_feeds %}
                          {% include "sidebar_feed_list.html" %}
                        {% endwith %}

                        <hr class="dropdown-divider"/>
                        <li>
                            <div class="level-left {% if filters.favorited %}is-active{% endif %}">
                                <div class="level-item">
                                    <a href="/entries/favorites"><icon class="icon"><i class="far fa-star"></i></icon>
                                        Favorites</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="level-left {% if filters.deleted %}is-active{% endif %}">
                                <div class="level-item">
                                    <a href="/entries/trash">
                                        <icon class="icon"><i class="far fa-trash-alt"></i></icon>
                                        Trash</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </aside>
                {% endblock %}
            </div>
            <div class="column is-centered is-two-thirds">
                <div id="entry-list">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="column">
               <aside class="menu feeds-sidebar is-hidden-mobile sidebar-right">
                   <ul class="menu-list">
                       <div class="dropdown is-active">
                           <div class="dropdown-trigger">
                               <div class="field">
                                   <p class="control has-icons-left">
                                       <input class="input is-small" type="search" placeholder="Type '/'"
                                              id="search"
                                              autocomplete="off"
                                              name="q"
                                              hx-get="/autocomplete"
                                              hx-trigger="keyup[target.value.length > 3] changed delay:100ms, search, drop delay:50ms"
                                              hx-target="#autocomplete-items"
                                              _="on keydown[key is '/'] elsewhere focus() me then halt
                                                     then on keydown[key is 'ArrowDown' or (key is 'n' and ctrlKey)] focus() on the next .autocomplete-item halt
                                                     then on keyup[key is 'Enter'] click() on the next .autocomplete-item
                                                     then on keyup[key is 'Escape'] if #autocomplete-items does not match .is-active then blur() me
                                                     "/>
                                       <span class="icon is-small is-left">
                                           <i class="fas fa-search"></i>
                                       </span>
                                   </p>
                                   <div class="navbar-item has-dropdown" id="autocomplete-items" role="menu"
                                        _="on keyup[target.value.length <= 3] from #search remove .is-active
                                               then on keyup[target.value.length > 3] from #search add .is-active
                                               then on drop from #search add .is-active
                                               then on click elsewhere remove .is-active
                                               then on keyup[key is 'Escape'] elsewhere remove .is-active"
                                   >
                                   </div>
                               </div>
                           </div>
                       </div>
                       <hr class="dropdown-divider"/>
                       {% block sidebar_right %}
                       <li>
                           <div class="level-left">
                               <div class="level-item">
                                   <a href="/feeds/add"><icon class="icon"><i class="fas fa-plus"></i></icon> Add feed</a>
                               </div>
                           </div>
                       </li>
                       <li>
                           <div class="level-left">
                               <div class="level-item">
                                   <a href="/feeds"><icon class="icon"><i class="fas fa-edit"></i></icon> Manage feeds</a>
                               </div>
                           </div>
                       </li>
                       {% if filters.feed_name %}
                       <li>
                           <div class="level-left">
                               <div class="level-item">
                                   <a href="/feeds/edit/{{filters.feed_name}}"><icon class="icon"><i class="fas fa-edit"></i></icon> Edit {{filters.feed_name}}</a>
                               </div>
                           </div>
                       </li>
                       <li>
                           <div class="level-left">
                               <div class="level-item">
                                   <a hx-post="/feeds/sync/{{filters.feed_name}}"
                                      _="on htmx:beforeRequest add .fa-spin to <i/> in me"><icon class="icon"><i class="fas fa-sync-alt"></i></icon> Sync {{filters.feed_name}}</a>
                               </div>
                           </div>
                       </li>
                       {% endif %}
                       <hr class="dropdown-divider"/>
                       <li>
                           <div class="level-left">
                               <div class="level-item">
                                   <label class="checkbox">
                                       <input type="checkbox" {% if not session.hide_media %} checked {% endif %}
                                              name="hide_media"
                                              hx-post="/session/hide_media" _="on click toggle .is-hidden on .media-url-container">
                                       Show thumbnails
                                   </label>
                               </div>
                           </div>

                       </li>
                       <li>
                           <div class="level-left">
                               <div class="level-item">
                                   <label class="radio">
                                       <input
                                           hx-post="/session" _="on htmx:afterRequest go to the top of the body then reload() the location of the window"
                                           {% if not session.ordering or session.ordering == "recency" %} checked {% endif %}
                                           type="radio" name="ordering" value="recency">
                                       Most recent
                                   </label>
                               </div>
                           </div>
                       </li>
                       <li>
                           <div class="level-left">
                               <div class="level-item">
                                   <label class="radio">
                                       <input hx-post="/session"
                                           _="on htmx:afterRequest go to the top of the body then reload() the location of the window"
                                              {% if session.ordering == "score" %} checked {% endif %}
                                           type="radio" name="ordering" value="score">
                                   Best score
                               </label>
                               </div>
                           </div>
                       </li>
                       <li>
                           <div class="level-left">
                               <div class="level-item">
                                   <label class="radio">
                                       <input
                                           hx-post="/session" _="on htmx:afterRequest go to the top of the body then reload() the location of the window"
                                           {% if session.ordering == "frequency" %} checked {% endif %}
                                           type="radio" name="ordering" value="frequency">
                                       Least frequent
                                   </label>
                               </div>
                           </div>
                       </li>
                       {% endblock %}
                   </ul>
               </aside>
            </div>
        </div>
    </section>
</body>
</html>
