<!doctype html>
<html class="has-background-light">
    <head>
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
        <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/hyperscript.min.js') }}"></script>
    <link rel="icon" href="data:,">
    <title>feedi {% block title %}{% endblock %}</title>
    <meta name="htmx-config" content='{"refreshOnHistoryMiss": true}'>
    </head>
    <body
        _="on htmx:responseError alert('The server responded with an error')">
    <nav class="navbar is-hidden-tablet is-fixed-bottom is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-end">
                {% if shortcut_folders %}
                {% for folder in shortcut_folders %}
                <a class="dropdown-item {% if filters.folder == folder %}is-active"{% endif %}" href="{{ url_for('entry_list', folder=folder ) }}">
                    <icon class="icon"><i class="far {% if filters.folder == folder %}fa-folder-open{% else %}fa-folder{% endif %}"></i></icon> {{ folder }}</a>
                {% endfor %}
                <a class="dropdown-item {% if filters.favorited %}is-active{% endif %}" href="{{ url_for('favorites') }}">
                    <icon class="icon"><i class="far fa-star"></i></icon> favorites</a>
                {% if current_user.kindle_email %}
                <a class="dropdown-item {% if filters.sent_to_kindle %}is-active{% endif %}" href="{{ url_for('sent_to_kindle') }}">
                    <icon class="icon"><i class="fas fa-tablet-alt"></i></icon> kindle log</a>
                <hr class="dropdown-divider"/>
                {% endif %}
                {% endif %}
                {{ self.sidebar_right() }}
            </div>
        </div>
        {% block mobile_navbar %}
        <div class="navbar-brand">
            <a class="navbar-item"
               {% if request.endpoint in ['entry_list', 'favorites'] %}
               hx-get="{{ url_for('entry_list', **filters) }}"
               hx-select="#entry-list"
               hx-target="#entry-list"
               {% endif %}
               _="on click if document.documentElement.scrollTop go to top of body smoothly else go to url {{ url_for('entry_list') }}"
            >
                <h1 class="title is-4">feedi</h1>
            </a>
            {% if current_user.is_authenticated %}
            <div class="navbar-item navbar-autocomplete" href="/">
                {% include "autocomplete.html" %}
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               _="on click toggle .is-active then toggle .is-active on the previous .navbar-menu"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            {% endif %}

        </div>
        {% endblock %}
    </nav>
    <section class="container">
        <div class="columns">
            <div class="column is-hidden-touch">
                {% block sidebar_left %}
                <aside class="menu feeds-sidebar">
                    <a  class="navbar-item" href="{{ url_for('entry_list') }}"><h1 class="title is-4">feedi</h1></a>
                        <ul class="menu-list">

                        {% if shortcut_folders %}
                        <hr class="dropdown-divider"/>
                        {% for folder in shortcut_folders %}
                        <li>
                            <a class="level-left {% if filters.folder == folder %}is-active"{% endif %}" href="{{ url_for('entry_list', folder=folder ) }}">
                                <icon class="icon"><i class="far {% if filters.folder == folder %}fa-folder-open{% else %}fa-folder{% endif %}"></i></icon> {{ folder }}</a>
                        </li>
                          {% endfor %}
                        {% endif %}
                        <hr class="dropdown-divider"/>
                        <li>
                            <div class="level-left {% if filters.favorited %}is-active{% endif %}">
                                <div class="level-item">
                                    <a href="{{ url_for('favorites') }}"><icon class="icon"><i class="far fa-star"></i></icon>
                                        favorites</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="level-left {% if filters.sent_to_kindle %}is-active{% endif %}">
                                <div class="level-item">
                                    <a href="{{ url_for('sent_to_kindle') }}"><icon class="icon"><i class="fas fa-tablet-alt"></i></icon>
                                        kindle log</a>
                                </div>
                            </div>
                        </li>
                        </ul>
                </aside>
                {% endblock %}
            </div>
            <div class="column is-centered is-two-thirds is-paddingless">
                <div id="entry-list">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="column">
               <aside class="menu feeds-sidebar is-hidden-mobile">
                   <ul class="menu-list">
                       {% if current_user.is_authenticated %}
                       {% include "autocomplete.html" %}
                       <hr class="dropdown-divider"/>
                       {% endif %}
                       {% block sidebar_right %}
                       <a class="dropdown-item is-hidden-mobile" href="{{ url_for('feed_add') }}"><icon class="icon"><i class="fas fa-plus"></i></icon> Add feed</a>
                       <a class="dropdown-item is-hidden-mobile" href="{{ url_for('feed_list') }}"><icon class="icon"><i class="fas fa-edit"></i></icon> Manage feeds</a>
                       {% if filters.feed_name %}
                       <a class="dropdown-item is-hidden-mobile" href="{{ url_for('feed_edit', feed_name=filters.feed_name ) }}"><icon class="icon"><i class="fas fa-edit"></i></icon> Edit {{filters.feed_name}}</a>
                       <a class="dropdown-item" hx-post="{{ url_for('feed_sync', feed_name=filters.feed_name ) }}"
                          _="on htmx:beforeRequest add .fa-spin to <i/> in me"><icon class="icon"><i class="fas fa-sync-alt"></i></icon> Sync {{filters.feed_name}}</a>
                       {% endif %}
                       <hr class="dropdown-divider is-hidden-mobile"/>
                       <form>
                           <label class="radio dropdown-item">
                               <p class="menu-label">Display settings</p>
                               <div class="buttons has-addons are-small view-settings-buttons">
                                   <button class="button {% if not session.view or session.view == "full" %} is-selected is-info {% endif %}" title="Full preview"
                                           hx-put="{{ url_for('update_setting', setting='view', value='full' ) }}"
                                           _="on click set .feed-entry@data-view to 'full'
                                                  then remove .is-selected from <.view-settings-buttons button/>
                                                  then remove .is-info from <.view-settings-buttons button/>
                                                  then add .is_selected then add .is-info">
                                       <span class="icon"><i class="far fa-images fa-lg"></i></span>
                                   </button>
                                   <button class="button {% if session.view == "text" %} is-selected is-info {% endif %}" title="Text only"
                                           hx-put="{{ url_for('update_setting', setting='view', value='text') }}"
                                           _="on click set .feed-entry@data-view to 'text'
                                                  then remove .is-selected from <.view-settings-buttons button/>
                                                  then remove .is-info from <.view-settings-buttons button/>
                                                  then add .is_selected then add .is-info">
                                                  <span class="icon"><i class="fas fa-align-justify fa-lg"></i></span>
                                   </button>
                                   <button class="button {% if session.view == "compact" %} is-selected is-info {% endif %}" title="Compact"
                                           hx-put="{{ url_for('update_setting', setting='view', value='compact') }}"
                                           _="on click set .feed-entry@data-view to 'compact'
                                                  then remove .is-selected from <.view-settings-buttons button/>
                                                  then remove .is-info from <.view-settings-buttons button/>
                                                  then add .is_selected then add .is-info">
                                                  <span class="icon "><i class="fas fa-inbox fa-lg"></i></span>
                                   </button>
                               </div>
                           </label>

                           {% if is_mixed_feed_view %}
                           <hr class="dropdown-divider"/>
                           <label class="radio dropdown-item">
                               <p class="menu-label">Feed settings</p>
                               <div class="buttons has-addons are-small ordering-settings-buttons">
                                   <button class="button {% if not session.ordering or session.ordering == "frequency" %} is-selected is-info {% endif %}" title="Least frequent"
                                           hx-put="{{ url_for('update_setting', setting='ordering', value='frequency') }}"
                                           _="on htmx:afterRequest go to the top of the body then reload() the location of the window">
                                       <span class="icon"><i class="far fa-calendar-check fa-lg"></i></span>
                                   </button>
                                   <button class="button {% if session.ordering == "recency" %} is-selected is-info {% endif %}" title="Most recent"
                                           hx-put="{{ url_for('update_setting', setting='ordering', value='recency') }}"
                                           _="on htmx:afterRequest go to the top of the body then reload() the location of the window">
                                       <span class="icon"><i class="far fa-clock fa-lg"></i></span>
                                   </button>
                               </div>
                           </label>
                       <label class="checkbox dropdown-item">
                           <input
                               hx-post="{{ url_for('toggle_setting', setting='hide_seen') }}" _="on htmx:afterRequest go to the top of the body then reload() the location of the window"
                               {% if session.get('hide_seen', True) %} checked {% endif %}
                               type="checkbox">
                           Hide already seen
                       </label>
                       {% endif %}
                       </form>
                       {% endblock %}
                   </ul>
               </aside>
            </div>
        </div>
    </section>
</body>
</html>
