<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/hyperscript.min.js"></script>
    <title>Feedi</title>
</head>
<body class="has-background-light">
    <div class="columns">
        <div class="column">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-narrow">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li>
                                <a href="/"> All Feeds</a>
                                <ul>
                                    {% for feed in feeds %}
                                    <li class="level-left {% if selected_feed == feed.name %}is-active{% endif %}">
                                            <div class="level-item">
                                                <figure class="image is-16x16 ">
                                                    <img class="is-rounded" src="{{ feed.icon_url }}">
                                                </figure>
                                                <!-- FIXME  use htmx instead of full reload -->
                                                <a href="/feeds/{{feed.name}}">{{ feed.name }}</a>
                                            </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="/"> Favorites</a>
                                <a href="/"> Trash</a>
                            </li>
                        </ul>
                    </aside>

                </div>
            </div>
        </div>
        <div class="column is-half">
            {% include "entry_list.html" %}
        </div>
        <div class="column is-one-quarter is-paddingless">
            <aside class="level side-bar">
                <div class="level-left">
                    <p class="level-item">
                        <button class="button is-medium is-rounded is-light {% if not session.hide_media %}toggled{% endif %}"
                                hx-post="/session/hide_media/"
                                _="on click toggle .is-hidden on .media-url-container then toggle .toggled on me"
                                title="Toggle thumbnails"><i class="fas fa-images"></i></button>
                    </p>
                </div>
            </aside>
        </div>
    </div>
    </div>
</body>
