{% extends "entry_content.html" %}

{% block content %}
<div class="box is-radiusless feed-entry">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64"></p>
        </figure>

  <div class="media-content">
      <a href="{{ entry.content_url }}" target="_blank"><strong>{{ entry.title }}</strong></a>
      <br/>
      <small class="has-text-grey-light">{{ entry.username }} {%if entry.content_url %}· {{ entry.content_url | url_domain}}{% endif %}</small>

  </div>
  <div class="media-right">
  </div>
    </article>
    <div class="content entry-content">
        {{ content | safe }}
    </div>
</div>
{% endblock content %}
