<div class="level feed-header is-mobile">
    <div class="level-left mobile-top-align">
        <div class="level-item is-hidden-tablet mobile-top-align">
            <figure class="image is-32x32">
                {% include "entry_avatar.html" %}
            </figure>
        </div>
        <p>
            <b class="entry-title">
                {% if entry.title %}
                <a _="{% if entry.content_url %}on click[shiftKey and not metaKey] or keydown[key is 'Enter' and not metaKey and shiftKey ] from the closest .feed-entry go to url '{{ url_for("entry_view", id=entry.id) }}' then halt
                   then on click[shiftKey and metaKey] or keydown[key is 'Enter' and metaKey and shiftKey ] from the closest .feed-entry go to url '{{ url_for("entry_view", id=entry.id) }}' in new window then halt
                   {% endif %}
                   {% if entry.target_url %}
                   {% if entry.content_url %}then{% endif %} on keydown[key is 'Enter' and not metaKey and not shiftKey] from the closest .feed-entry go to url '{{ entry.target_url }}' in new window then halt
                   {% endif %}"
                   {% if entry.target_url %}href="{{ entry.target_url }}" target="_blank"{% endif %}
                >{{ entry.title | safe }}</a>
                {% elif entry.has_distinct_user %}
                <a href="{{ entry.user_url or url_for('entry_list', username=entry.username ) }}">
                    {{ entry.display_name or entry.username }}
                </a>
                {% else %}
                <a href="{{ url_for('entry_list', feed_name=entry.feed.name ) }}">
                    {{ entry.feed.name}}
                </a>
                {% endif %}
            </b>
            <span class="entry-excerpt-metadata is-hidden {% if entry.content_url or entry.target_url %}is-clickable{% endif %}"
                  {% if entry.content_url %}
                  hx-get="{{ url_for('entry_view', id=entry.id) }}"
                  hx-trigger="click"
                  hx-target="body"
                  hx-push-url="true"
                  {% elif entry.target_url %}
                  _="on click go to url {{ entry.target_url }} in new window"
                  {% endif %}>
                <small>{{ entry | entry_excerpt }}</small>
            </span>
            <span class="entry-metadata">
                <br/>
                <small class="has-text-grey-light"><span title="{{ entry.display_date.isoformat() }}">{{ entry.display_date | humanize }}</span> {% if entry.username %}· {{ entry.username}}{%endif%} {%if entry.target_url %}· {{ entry.target_url | url_domain}}{% endif %}</small>
            </span>
        </p>
    </div>
    <div class="is-hidden compact-actions is-hidden">
        <div class="dropdown is-right"
             _="on intersection(intersecting) having margin '0px 0px -50% 0px'
                    if intersecting remove .is-up else add .is-up -- show dropup up or dropdown depending position relative to middle of screen">
            <div class="dropdown-trigger">
                <a class="icon hover-icon is-white is-rounded level-item"
                   tabindex="-1"
                   _="on click toggle .is-active on the closest .dropdown then
                          on click elsewhere remove .is-active from the closest .dropdown">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">{% include "entry_commands.html" %}</div>
            </div>
        </div>
        <a tabindex="-1" class="level-item icon hover-icon is-white is-rounded {% if entry.pinned %}toggled{% endif %} pin-button" title="Pin entry"
           hx-put="{{ url_for('entry_pin', id=entry.id, **filters) }}"
           hx-target="#pinned-entry-list"
           {% if not is_pinned_list %}hx-swap="none"{% endif %}
           _="on click toggle .toggled on < [data-id='{{entry.id}}'] .pin-button />">
            <i class="fas fa-thumbtack"></i></a>
    </div>
    <div class="is-hidden-desktop mobile-top-align mobile-actions">
        <a tabindex="-1" class="level-item is-pulled-right icon is-white is-rounded {% if entry.pinned %}toggled{% endif %} pin-button" title="Pin entry"
           hx-put="{{ url_for('entry_pin', id=entry.id, **filters) }}"
           hx-target="#pinned-entry-list"
           {% if not is_pinned_list %}hx-swap="none"{% endif %}
           _="on click toggle .toggled on < [data-id='{{entry.id}}'] .pin-button />">
            <i class="fas fa-thumbtack"></i></a>
    </div>
    <div class="level-right is-hidden-touch desktop-actions">
        <a tabindex="-1" class="level-item icon hover-icon is-white is-rounded {% if entry.favorited %}toggled{% endif %}" title="Favorite"
           hx-put="{{ url_for('entry_favorite', id=entry.id )}}"
           _="on click toggle .toggled
                     then on keyup[key is 'f'] from the closest .feed-entry trigger click on me"
        ><i class="fas fa-star"></i></a>
        {% if entry.comments_url %}
        <a tabindex="-1" class="level-item icon hover-icon is-white is-rounded" title="Comment"
           href="{{ entry.comments_url}}" target="_blank"
        ><i class="fas fa-comment-alt"></i></a>
        {% endif %}
        <div class="dropdown is-right"
             _="on intersection(intersecting) having margin '0px 0px -50% 0px'
                    if intersecting remove .is-up else add .is-up -- show dropup up or dropdown depending position relative to middle of screen">
            <a class="icon hover-icon is-white is-rounded level-item"
               tabindex="-1"
               _="on click toggle .is-active on the closest .dropdown then
                      on click elsewhere remove .is-active from the closest .dropdown">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">{% include "entry_commands.html" %}</div>
            </div>
        </div>
        <a tabindex="-1" class="level-item icon hover-icon is-white is-rounded {% if entry.pinned %}toggled{% endif %} pin-button" title="Pin"
           hx-put="{{ url_for('entry_pin', id=entry.id, **filters) }}"
           hx-target="#pinned-entry-list"
           {% if not is_pinned_list %}hx-swap="none"{% endif %}
           _="on click toggle .toggled on < [data-id='{{entry.id}}'] .pin-button />
                     then on keyup[key is 'p'] from the closest .feed-entry trigger click on me">
            <i class="fas fa-thumbtack"></i></a>
    </div>
</div>
