<div class="level feed-header is-mobile">
    <div class="level-left">
        <p>
            <b>
                {% if entry.content_url %}
                <a _="
                      on keydown[key is 'Enter' and metaKey and shiftKey ] from the closest .feed-entry go to url '{{ entry.content_url}}' in new window then halt
                      on keydown[key is 'Enter' and metaKey and not shiftKey] from the closest .feed-entry go to url '/entries/{{ entry.id }}' in new window then halt
                      on keydown[key is 'Enter' and not metaKey and not shiftKey] from the closest .feed-entry go to url '/entries/{{ entry.id }}'
                      then on click[metaKey and shiftKey] go to url '{{ entry.content_url}}' in new window then halt"

                   href="/entries/{{ entry.id }}">{{ entry.title }}</a>
                {% elif entry.entry_url %}
                <a href="{{ entry.entry_url }}" target="_blank">{{ entry.title }}</a>
                {% else %}
                <span>{{ entry.title }}</span>
                {% endif %}
            </b>
            <br/>
        </p>
    </div>
    <div class="level-right">
        <a tabindex="-1" hx-put="/entries/trash/{{entry.id}}/"
           _="on click remove the closest .feed-entry
                     then on keyup[key is 'Delete' or key is 'Backspace'] from the closest .feed-entry focus() the next .feed-entry then trigger click on me"
           class="level-item icon hover-icon is-white is-rounded trash-entry" title="Remove entry"><i class="fas {% if entry.deleted %}fa-trash-restore-alt{% else %}fa-trash-alt{% endif %}"></i></a>
        <a tabindex="-1" class="level-item icon hover-icon is-white is-rounded {% if entry.pinned %}toggled{% endif %} pin-button" title="Pin entry"
           hx-put="{{pin_base_path|default(request.path.rstrip('/'))}}/pinned/{{entry.id}}"
           hx-target="#pinned-entry-list"
           _="on click toggle .toggled on < [data-id='{{entry.id}}'] .pin-button />
                     then toggle .is-hidden on < [data-id='{{entry.id}}'] />
                     then go to top of the body smoothly
                     then on keyup[key is 'p'] from the closest .feed-entry trigger click on me">
            <i class="fas fa-thumbtack"></i></a>
        <a tabindex="-1" class="level-item icon hover-icon is-white is-rounded {% if entry.favorited %}toggled{% endif %}" title="Favorite entry"
           hx-put="/entries/favorites/{{entry.id}}"
           _="on click toggle .toggled
                     then on keyup[key is 'f'] from the closest .feed-entry trigger click on me"
        ><i class="fas fa-star"></i></a>

        <div class="dropdown is-right">
            <div class="dropdown-trigger">
                <a class="icon hover-icon is-white is-rounded level-item"
                   tabindex="-1"
                   _="on click go to middle of the closest .feed-entry smoothly then
                          on click toggle .is-active on the closest .dropdown then
                          on click elsewhere remove .is-active from the closest .dropdown">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">{% include "entry_commands.html" %}</div>
            </div>
        </div>

    </div>
</div>
<div class="feed-header-details">
    <small class="has-text-grey-light"><span title="{{ entry.remote_updated.isoformat() }}">{{ entry.remote_created | humanize }}</span> · {{ entry.username or entry.feed.name}}</small>
</div>
