{% extends "base.html" %}

{% block title %}| {{ entry.title }}{% endblock %}

{% block sidebar_left %}
<aside class="menu feeds-sidebar">
    <ul class="menu-list">
        <li>
            <div class="level-left">
                <div class="level-item">
                    <a _="on click if history.length == 1 go to url '{{ url_for("entry_list")}}' else go back end
                          then on keyup[key is 'Escape'] elsewhere trigger click on me"
                    ><icon><i class="fas fa-arrow-left"></i></icon> Back</a>
                </div>
            </div>
        </li>
    </ul>
</aside>
{% endblock %}

{% block content %}

<div class="box is-radiusless feed-entry">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                {% if entry.avatar_url %}
                <a href="{{ url_for('entry_list', username=entry.username ) }}">
          <img class="is-rounded" src="{{ entry.avatar_url }}" alt="{{ entry.username }}" title="{{ entry.username }}">
      </a>
      {% else %}
      <a href="{{ url_for('entry_list', feed_name=entry.feed.name ) }}">
          <img class="is-rounded" src="{{ entry.feed.icon_url }}" alt="{{ entry.feed.name}}" title="{{ entry.feed.name }}">
      </a>
      {% endif %}
            </p>
  </figure>
  <div class="media-content">
      <a href="{{ entry.content_url }}" target="_blank"><strong>{{ entry.title }}</strong></a>
      <br/>
      <small class="has-text-grey-light"><span title="{{ entry.remote_updated.isoformat() }}">{{ entry.remote_created | humanize }}</span> {% if entry.username %}· {{ entry.username}}{%endif%} {%if entry.content_url %}· {{ entry.content_url | url_domain}}{% endif %}</small>
  </div>

  <div class="media-right">
      <div class="level entry-quick-actions">
          <div class="level-left is-hidden-mobile">
              {% block action_favorite %}
              <a tabindex="-1" class="level-item icon  is-white is-rounded {% if entry.favorited %}toggled{% endif %}" title="Favorite entry"
                 hx-put="{{ url_for('entry_favorite', id=entry.id )}}"
                 _="on click toggle .toggled"
              ><i class="fas fa-star"></i></a>
              {% endblock %}
              {% block action_pin %}
              <a tabindex="-1" class="level-item icon  is-white is-rounded {% if entry.pinned %}toggled{% endif %} pin-button" title="Pin entry"
                 hx-put="{{ url_for('entry_pin', id=entry.id, **filters) }}"
                 hx-swap="none"
                 _="on click toggle .toggled">
                  <i class="fas fa-thumbtack"></i></a>
              {% endblock %}
          </div>
          <div class="level-left is-hidden-tablet">
              {{ self.action_pin() }}
              {{ self.action_favorite() }}
          </div>
      </div>
  </div>
    </article>
    <div class="content entry-content">
        {% if content %}
        {{ content | safe }}
        {% else %}
        <div class="buttons is-centered"
             hx-get="{{url_for('entry_view', id=entry.id, content='true' )}}"
             hx-trigger="revealed"
             hx-swap="outerHTML"
             hx-select=".entry-content"
             hx-target=".entry-content">
            <br/>
            <button class="button is-loading is-large is-centered " style="border: none;">
            Button
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block sidebar_right %}
{% include "entry_commands.html" %}
{% endblock %}
