    {% if entry.avatar_url %}
    <a href="{{ entry.user_url or url_for('entry_list', username=entry.username ) }}">
        <img class="is-rounded feed-avatar" src="{{ entry.avatar_url }}" alt="{{ entry.username }}" title="{{ entry.username }}">
    </a>
    {% elif entry.feed %}
    <a href="{{ url_for('entry_list', feed_name=entry.feed.name ) }}">
        <img class="is-rounded feed-avatar" {% if entry.feed.icon_url %}src="{{ entry.feed.icon_url }}"{% endif %} alt="{{ entry.feed.name.0.upper() }}" title="{{ entry.feed.name }}">
    </a>
    {% else %}
    {% set domain = entry.target_url | url_domain %}
    <img class="is-rounded feed-avatar" {% if entry.icon_url %}src="{{ entry.icon_url }}"{% endif %} alt="{{ domain.0.upper() }}" title="{{ domain }}">
    {% endif %}
