{% extends "base.html" %}

{% block sidebar_left %}
<aside class="menu feeds-sidebar">
    <ul class="menu-list">
        <li>
            <div class="level-left">
                <div class="level-item">
                    <a _="on click go back
                          then on keydown[key is 'Escape'] elsewhere trigger click on me"
                    ><icon><i class="fas fa-arrow-left"></i></icon> Back</a>
                </div>
            </div>
        </li>
    </ul>
</aside>
{% endblock %}

{% block content %}

<div class="box is-radiusless feed-entry">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                {% if entry.avatar_url %}
                <a href="/users/{{ entry.username }}">
          <img class="is-rounded" src="{{ entry.avatar_url }}" alt="{{ entry.username }}" title="{{ entry.username }}">
      </a>
      {% else %}
      <a href="/feeds/{{ entry.feed.name }}/entries">
          <img class="is-rounded" src="{{ entry.feed.icon_url }}" alt="{{ entry.feed.name}}" title="{{ entry.feed.name }}">
      </a>
      {% endif %}
            </p>
  </figure>
  <div class="media-content">
      <a href="{{ entry.content_url }}" target="_blank"><strong>{{ entry.title }}</strong></a>
      <div class="feed-header-details">
          <small class="has-text-grey-light"><span title="{{ entry.remote_updated.isoformat() }}">{{ entry.remote_created | humanize }}</span> · {{ entry.username or entry.feed.name}}</small>
      </div>
  </div>
  <div class="media-right">
  </div>
    </article>
    <div class="content entry-content">
        {{ content | safe }}
    </div>
</div>
{% endblock content %}

{% block sidebar_right %}
{% include "entry_commands.html" %}
{% endblock %}
