<div class="columns feed-header">
    <div class="column">
        <p>
            <b><a class="feed-title" href="{{ entry.content_url }}" target="_blank">{{ entry.title }}</a></b>
            <br/>
            <small class="has-text-grey-light"><span title="{{ entry.remote_updated.isoformat() }}">{{ entry.remote_created | humanize }}</span> · {{ entry.username or entry.feed.name}}</small>
        </p>
    </div>
    <div class="column is-narrow">
        <a class="button is-white is-rounded" title="Remove entry"><i class="fas fa-trash-alt"></i></a>
        <a class="button is-white is-rounded" title="Pin entry"><i class="fas fa-thumbtack"></i></a>
        {% if entry.entry_url %}<a href="{{ entry.entry_url }}" target="_blank" class="button is-white is-rounded" title="Comment on source"><i class="fas fa-comment-alt"></i></a>{% endif %}

        <div class="dropdown is-right">
            <div class="dropdown-trigger">
                <a class="button is-white is-rounded"
                   _="on click toggle .is-active on the closest .dropdown then
                          on click elsewhere remove .is-active from the closest .dropdown">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item"><span class="icon"><i class="fas fa-share"></i></span> Share</a>
                    <a class="dropdown-item"><span class="icon"><i class="fas fa-tag"></i></span> Tags</a>
                    <a class="dropdown-item"><span class="icon"><i class="fas fa-user-plus"></i></span> Add feed</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="/entries/{{ entry.id }}/raw" target="_blank"><span class="icon"><i class="fas fa-file-code"></i></span>  View raw entry data</a>
                    <a class="dropdown-item" href="/feeds/{{ entry.feed.id }}/raw" target="_blank"><span class="icon"><i class="fas fa-file-code"></i></span>  View raw feed data</a>
                </div>
            </div>
        </div>

    </div>
</div>
