{% for entry in entries %}
<div class="card feed-entry is-radiusless {% if entry.pinned and not is_pinned_list %}is-hidden{% endif %}" tabindex="0"
     _="on keydown[key is 'ArrowDown'] focus() the next <.feed-entry:not(.is-hidden)/> then halt
            then on keydown[key is 'ArrowUp'] focus() the previous <.feed-entry:not(.is-hidden)/> then halt
            then on focus call window.getSelection().removeAllRanges() then go to top of me"
     data-id="{{entry.id}}"
>
     <div class="card-content">
         {% if entry.reblogged_by %}
         <div class="reblogged">
             <div class="column">
                 <small class="has-text-grey-light"><i class="fas fa-retweet"></i> {{ entry.reblogged_by }} boosted</small>
                 <br/>
             </div>
         </div>
         {% endif %}
         <div class="columns is-mobile">
             <div class="column is-narrow avatar-column is-hidden-mobile">
                 {% include "entry_avatar.html" %}
             </div>
             <div class="column">
                 {% include "entry_header.html" %}

                 {% if entry.body or entry.media_url %}
                 <div class="columns body-container">
                     {% if entry.media_url %}
                     <div class="column is-one-quarter media-url-container {% if session.hide_media %}is-hidden{% endif %}">
                         <figure class="image media-url is-5by3 is-clickable" tabindex="-1"
                                 _="on click add .is-active to the next .modal then halt">
                             <img src="{{ entry.media_url }}" alt="article preview" onerror='this.parentNode.parentNode.style.display = "none"'>
                         </figure>
                     </div>
                     <div class="modal">
                         <div class="modal-background"
                              _="on click remove .is-active from the closest .modal"
                         ></div>
                         <div class="modal-content preview-modal"
                              _="on keydown[key is 'Escape'] elsewhere remove .is-active from the closest .modal">
                             <p><img src="{{ entry.media_url }}" alt="article preview"></p>
                         </div>
                     </div>
                     {% endif %}
                     {% if entry.body %}
                     <div class="column">
                         <div class="content" tabindex="-1">
                         {% if entry.feed.type == 'mastodon' %}
                         {{ entry.body | safe }}
                         {% else %}
                         {{ entry.body | sanitize | safe }}
                             {% endif %}
                         </div>

                     </div>
                     {% endif %}
                 </div>
                 {% endif %}
             </div>
         </div>
     </div>
     <div class="level is-mobile is-hidden-desktop entry-mobile-footer">
             <a tabindex="-1" hx-put="/entries/trash/{{entry.id}}/"
                _="on click remove the closest .feed-entry"
                class="level-item icon is-white is-rounded" title="Remove entry"><i class="fas {% if entry.deleted %}fa-trash-restore-alt{% else %}fa-trash-alt{% endif %}"></i></a>

        <a tabindex="-1" class="level-item icon  is-white is-rounded {% if entry.pinned %}toggled{% endif %} pin-button" title="Pin entry"
           hx-put="{{pin_base_path|default(request.path.rstrip('/'))}}/pinned/{{entry.id}}"
           hx-target="#pinned-entry-list"
           _="on click toggle .toggled on < [data-id='{{entry.id}}'] .pin-button />
                     then toggle .is-hidden on < [data-id='{{entry.id}}'] />">
            <i class="fas fa-thumbtack"></i></a>
        <a tabindex="-1" class="level-item icon  is-white is-rounded {% if entry.favorited %}toggled{% endif %}" title="Favorite entry"
           hx-put="/entries/favorites/{{entry.id}}"
           _="on click toggle .toggled"
        ><i class="fas fa-star"></i></a>

        <a class="icon is-white is-rounded level-item"
           tabindex="-1"
           _="on click toggle .is-active on the next .dropdown then
                  on click elsewhere remove .is-active from the next .dropdown">
            <i class="fas fa-ellipsis-h"></i>
        </a>
        <div class="dropdown is-right is-up">
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">{% include "entry_commands.html" %}</div>
            </div>
        </div>
     </div>
</div>
 {% if loop.last and next_page %}
 <div hx-get="{{ request.path }}?page={{ next_page }}{% if request.args.q %}&q={{request.args.q}}{% endif %}" hx-trigger="revealed" hx-swap="outerHTML"></div>
 {% endif %}
 {% endfor %}
