{% extends "base.html" %}

{% block content %}
<div class="box is-radiusless feed-entry  ">
    <div class="content">
        <h3>Edit feed</h3>
        <br/>

        <form method="post">
            <div class="field">
                <label class="label">Feed Type</label>
                <div class="select">
                    <select name="type" {% if feed %}disabled{% endif %}>
                        <option value="rss" {% if feed and feed.type == "rss" %} selected {% endif %}>RSS/Atom</option>
                        <option value="mastodon" {% if feed and feed.type == "mastodon" %} selected {% endif %}>Mastodon</option>
                        <option value="mastodon_notifications" {% if feed and feed.type == "mastodon_notifications" %} selected {% endif %}>Mastodon Notifications</option>
                        <option value="custom" {% if feed and feed.type == "custom" %} selected {% endif %}>Custom</option>
                    </select>
                </div>
            </div>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" name="name" type="text"  {% if feed or name %}value="{{ name or feed.name }}" {% endif %}>
            </div>
        </div>

        <div class="field {% if not feed or not feed.type.startswith('mastodon')%}is-hidden{% endif %} " }"
             _="on load or change from <select[name='type']/> if (the value of the previous <select[name='type']/>) includes('mastodon') then remove .is-hidden else add .is-hidden end">


            <label class="label">Mastodon access token</label>
            <div class="control">
                <input class="input" name="access_token" type="text" {% if feed and feed.access_token %}value="{{ feed.access_token }}"{% endif %}>
            </div>
        </div>

        <div class="field">
            <label class="label">URL</label>
            <div class="control">
                <input class="input" name="url" type="text"  {% if feed or url  %}value="{{ url or feed.url }}"{% endif %}>
            </div>
        </div>

        <div class="field">
            <label class="label">Folder</label>
            <div class="control">
                <input class="input" name="folder" type="text" placeholder="Folder name" {% if feed and feed.folder %}value="{{ feed.folder }}"{% endif %}>
            </div>
        </div>

        <div class="field"
             _="on load or change from <select[name='type']/> if (the value of the previous <select[name='type']/>) includes('mastodon') then add .is-hidden else remove .is-hidden end"
        >
            <label class="label">Filters</label>
            <div class="control">
                <input class="input" name="filters" type="text" {% if feed and feed.filters %}value="{{ feed.filters }}" {% endif %}>
            </div>
            <p class="help">A comma-separated list of field=value expressions to be used to filter items from the source when parsing the feed entries.</p>
        </div>

        {% if feed %}
        <div class="field is-grouped">
            <div class="control">
                <label class="label">Score</label>
                <input class="input" name="score" type="text" value="{{ feed.score }}">
            </div>
            <div class="control">
                <label class="label">Avg. score</label>
                <input class="input" name="score" type="text" value="{{ feed.averaged_score() }}">
            </div>
        </div>
        <p class="help">A count of views, pins, favorites and deletes of entries of this feed. It can be overridden to tweak the "best score" sorting.</p>

        <div class="field">
            <label class="label">Frequency rank</label>
            <p class="help">This is a ranking based on how frequently new entries arrive through this feed. It's used by the Least frequent sorting.</p>
            <div class="control">
                {% set rank = feed.frequency_rank() %}
                <input class="input" type="text" value="{{ rank if rank != None }}" readonly>
            </div>
        </div>
        {% endif %}

        <br/>


        <div class="level is-mobile">
            <div class="field level-left">
                {% if feed %}
                <p class="control"><button class="button is-danger"
                                           hx-delete="{{ url_for('feed_delete', feed_name=feed.name )}}"
                                           _="on htmx:afterRequest go to url '{{ url_for('feed_list')}}'" >Delete</button></p>
                {% endif  %}
            </div>
            <div class="field is-grouped level-right">



                <p class="control"><a class="button is-light" href="{{ url_for('feed_list')}}"
                                      _="on keydown[key is 'Escape'] elsewhere go back" >Cancel</a></p>
                <p class="control"><input class="button is-primary" type="submit" value="Save"></p>
            </div>
        </div>


        </form>
    </div>

</div>
{% endblock content %}

{% block sidebar_right %}
{% if feed %}
<li>
    <div class="level-left">
        <div class="level-item">
            <a hx-post="{{ url_for('feed_list', feed_name=feed.name )}}"
               _="on htmx:beforeRequest add .fa-spin to <i/> in me"
            ><icon class="icon"><i class="fas fa-sync-alt"></i></icon> Sync {{feed.name}}</a>
        </div>
    </div>
</li>
{% endif %}
{% endblock %}
