{% extends "base.html" %}

{% block content %}
<div class="box is-radiusless feed-entry  ">
    <div class="content">
        <h3>Feeds</h3>
    </div>
    <table class="table is-hoverable is-fullwidth">
        <tbody>
            {% for feed in feeds %}
            <tr>
                <td class="is-narrow">
                    <a href="/feeds/{{feed.name}}">
                        <figure class="image is-24x24 ">
                            <img class="is-rounded" src="{{ feed.icon_url }}">
                        </figure>
                    </a>
                </td>
                <td>
                    <a href="/feeds/{{feed.name}}/entries">{{ feed.name }}</a>
                </td>
                <td>{% if feed.folder %}<span class="icon"><i class="far fa-folder-open"></i></span> {{ feed.folder }}{% endif %}</td>
                <td class="is-narrow"><a hx-delete="/feeds/{{feed.name}}" title="delete"
                                         _="on click remove the closest <tr/>"
                                      ><span class="icon"><i class="far fa-trash-alt"></i></span></a></td>
                <td class="is-narrow"><a href="/feeds/edit/{{feed.name}}" title="edit"><span class="icon"><i class="fas fa-edit"></i></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
