{% extends "base.html" %}

{% block content %}
<div class="box is-radiusless feed-entry  ">
    <div class="content">
        <h3>Feeds</h3>
    </div>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Updated</th>
                <th>Count</th>
                <th>Rank</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for (feed, freq, entries, last_seen) in feeds %}
            <tr>
                <td>
                    <a href="{{ url_for('entry_list', feed_name=feed.name )}}">
                        <span class="level-left">
                        <figure class="level-item image is-24x24 ">
                            <img class="feed-avatar is-rounded" {%if feed.icon_url%}src="{{ feed.icon_url }}"{%endif%} alt="{{ feed.name.0 }}">
                        </figure>
                        <span class="level-item">
                            {{ feed.name }}
                        </span>
                        </span>
                    </a>
                </td>
                <td>{% if feed.folder %}<span class="icon"><i class="far fa-folder-open"></i></span> {{ feed.folder }}{% endif %}</td>

                <td>{% if last_seen %}{{last_seen | humanize}}{% endif %}</td>
                <td>{{entries}}</td>
                <td>{{freq or ''}}</td>
                <td class="is-narrow">
                    <span class="level-left">
                    <a class="level-item" hx-delete="{{ url_for('feed_delete', feed_name=feed.name )}}" title="delete" _="on htmx:afterRequest remove the closest <tr/>"
                    ><span class="icon"><i class="far fa-trash-alt"></i></span></a>
                    <a class="level-item" href="{{ url_for('feed_edit', feed_name=feed.name )}}" title="edit"><span class="icon"><i class="fas fa-edit"></i></span></a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% block sidebar_right %}
<a class="dropdown-item is-hidden-mobile" href="{{ url_for('feed_add') }}"><icon class="icon"><i class="fas fa-plus"></i></icon> Add feed</a>
<a class="dropdown-item is-hidden-mobile" href="{{ url_for('mastodon_oauth') }}"><icon class="icon"><i class="fab fa-mastodon"></i></icon> Mastodon login</a>
{% endblock %}
