{% extends "base.html" %}

{% block content %}
<div class="box is-radiusless feed-entry  ">
    <div class="content">
        <h3>Edit feed</h3>
        <br/>

        <form method="post">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" name="name" type="text" placeholder="Text input" {% if feed or name %}value="{{ name or feed.name }}" {% endif %}>
            </div>
        </div>

        {% if not feed or feed.type == 'rss' %}
        <div class="field">
            <label class="label">URL</label>
            <div class="control">
                <input class="input" name="url" type="text" placeholder="Text input" {% if feed or url  %}value="{{ url or feed.url }}"{% endif %}>
            </div>
        </div>
        {% endif %}

        <div class="field">
            <label class="label">Folder</label>
            <div class="control">
                <input class="input" name="folder" type="text" placeholder="Folder name" {% if feed and feed.folder %}value="{{ feed.folder }}"{% endif %}>
            </div>
        </div>

        {% if feed %}
        <div class="field">
            <label class="label">Score</label>
            <p class="help">A count of views, pins, favorites and deletes of entries of this feed. It can be overridden to tweak the "best score" sorting.</p>
            <div class="control">
                <input class="input" name="score" type="text" {% if feed and feed.folder %}value="{{ feed.score }}"{% endif %}>
            </div>
        </div>

        <div class="field">
            <label class="label">Frequency rank</label>
            <p class="help">This is a ranking based on how frequently new entries arrived in the last 2 weeks. It's used by the Least frequent sorting.</p>
            <div class="control">
                {% set rank = feed.frequency_rank() %}
                <input class="input" type="text" value="{{ rank if rank != None }}" readonly>
            </div>
        </div>
        {% endif %}

        <br/>


        <div class="level is-mobile">
            <div class="field level-left">
                {% if feed %}
                <p class="control"><button class="button is-danger"
                                           hx-delete="/feeds/{{feed.name}}"
                                           _="on htmx:afterRequest go to url '/feeds'" >Delete</button></p>
                {% endif  %}
            </div>
            <div class="field is-grouped level-right">



                <p class="control"><a class="button is-light" href="/feeds"
                                      _="on keydown[key is 'Escape'] elsewhere go back" >Cancel</a></p>
                <p class="control"><input class="button is-primary" type="submit" value="Save"></p>
            </div>
        </div>


        </form>
    </div>

</div>
{% endblock content %}

{% block sidebar_right %}
{% if feed %}
<li>
    <div class="level-left">
        <div class="level-item">
            <a hx-post="/feeds/sync/{{feed.name}}"
               _="on htmx:beforeRequest add .fa-spin to <i/> in me"
            ><icon class="icon"><i class="fas fa-sync-alt"></i></icon> Sync {{feed.name}}</a>
        </div>
    </div>
</li>
{% endif %}
{% endblock %}
