{% extends "base.html" %}

{% block sidebar_left %}
{% endblock %}

{% block sidebar_right %}
{% endblock %}

{% block content %}
<div class="box is-radiusless feed-entry  ">
    <div class="content">
        <br/>
        {% if error_msg %}
        <article class="message is-danger"><div class="message-body">{{ error_msg }}</div></article>
        {% endif  %}
        <form method="post">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" name="email" type="text">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" name="password" type="password">
                </div>
            </div>

            <div class="level is-mobile">
                <div class="level-item has-text-centered">
                <div class="field is-grouped">
                    <p class="control"><input class="button is-primary" type="submit" value="Sign in" /></p>
                </div>
                </div>
            </div>


        </form>
    </div>

</div>
{% endblock content %}
