/* reduce margins */
.feed-entry .card-content {
    padding: 1rem;
}

.feed-entry .card-content {
    padding-bottom: 0;
    padding-top: 0.75rem;
}

.reblogged {
    margin-bottom: 0!important;
}

.reblogged .column {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}

.feed-header .column {
    padding-bottom:0!important
}

.body-container {
    margin-bottom: 0!important;
    font-size: 0.95em;
}

.media-url-container {
    padding-bottom: 1rem!important;
}

.feed-header {
    margin-bottom:0.25!important
}

.avatar-column {
    padding-right: .25
}

/* entry effects on hover  */

.feed-entry .button {
    visibility: hidden;
}

.feed-entry:hover .button {
    visibility: visible;
}

.media-url img {
    border-radius: .75rem;
    object-fit: cover;
}

.card.feed-entry  {
    box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
}

.feeds-sidebar-parent, .side-bar {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    /* max-height: 100vh; */
    top: 0;
    bottom: 0;
}

.side-bar .button {
    margin-top: .25rem;
}

li.is-active, li.is-active  a:hover {
    /* FIXME copied from .menu-list a.is-active */
    background-color: #485fc7;
}
li.is-active a, li.is-active  a:hover {
    /* FIXME copied from .menu-list a.is-active */
    color: #fff;
}

.button:not(.toggled) {
    /* FIXME this should use SCSS variables */
    color: hsl(0, 0%, 86%)!important
}

.button:not(.toggled):hover,  .button.toggled {
    /* FIXME this should use SCSS variables */
    color: hsl(0, 0%, 29%)!important
}

code{
    white-space:pre-wrap
    }

.reader-modal .modal-content {
    /* this is a hack and an arbitrary number should be changed in variable to work as is-half
https://github.com/jgthms/bulma/blob/master/sass/components/modal.sass#L7C2-L7C21
*/
    width: 60%!important;
}

/* some tweaks to make images look better inside the reader modal */

img[src=""] {
    display: none!important
}

.entry-content img {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* TODO make this more specific, maybe only after p */
    padding-bottom: 2rem;
}

.entry-content {
    padding: 2rem 5rem 2rem;
    font-size: 1.2rem;
    line-height: 1.6;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
}

/* feeds sidebar */
.feeds-sidebar li  {
    font-size: 0.9rem
}

.folder-collapsed {
    height:0;
    margin-top:0!important;
    margin-bottom:0!important;
}
