/* reduce margins */
.feed-entry .card-content {
    padding: 1rem;
}

.feed-entry .card-content {
    padding-bottom: 0;
    padding-top: 0.75rem;
}

.reblogged {
    margin-bottom: 0!important;
}

.reblogged .column {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}

.body-container {
    margin-bottom: 0!important;
    font-size: 0.95em;
}

.media-url-container {
    padding-bottom: 1rem!important;
}

.feed-header .level-left {
    /* wrap for title to prevent icons overflow */
    flex-shrink: 1!important;
}

.column {
    overflow-x: clip!important;
}

.feed-header {
    margin-bottom: 0!important;
}

.feed-header-details {
    margin-bottom: 0.75rem!important;
}

.avatar-column {
    padding-right: .25
}

/* entry effects on hover  */

.feed-entry .hover-icon {
    visibility: hidden;
}

.feed-entry:hover .hover-icon {
    visibility: visible;
}

.media-url img {
    border-radius: .75rem;
    object-fit: cover;
}

.card.feed-entry, .box.feed-entry  {
    box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
}

.feeds-sidebar {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    top: 1rem;
    bottom: 0;
}

li.is-active, li.is-active  a:hover {
    /* FIXME copied from .menu-list a.is-active */
    background-color: #485fc7;
}
li.is-active a, li.is-active  a:hover{
    /* FIXME copied from .menu-list a.is-active */
    color: #fff;
}

.level-item.icon:not(.toggled) {
    /* FIXME this should use SCSS variables */
    color: hsl(0, 0%, 86%)
}

.level-item.icon:not(.toggled):hover,  .level-item.icon.toggled {
    /* FIXME this should use SCSS variables */
    color: hsl(0, 0%, 29%)
}

.table a {
    color: #363636
}

code{
    white-space:pre-wrap
    }

img[src=""] {
    display: none!important
}

.entry-content img {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* TODO make this more specific, maybe only after p */
    padding-bottom: 2rem;
}

.entry-content {
    padding: 2rem 5rem 2rem;
    font-size: 1.1rem;
    line-height: 1.6;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
}

/* feeds sidebar */
.feeds-sidebar li  {
    font-size: 0.9rem;
}

.feeds-sidebar .image {
    margin-left: 0.2rem;
}

.folder-collapsed {
    height:0;
    margin-top:0!important;
    margin-bottom:0!important;
    visibility: hidden;
}
