<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <title>Feedi</title>
</head>
<body>
    <section class="section">
        <div class="container is-max-desktop">
            <div class="box">
        {% for entry in entries %}
        <article class="media">
            <figure class="media-left image is-48x48">
                <img class="is-rounded" src="{{ entry.avatar or entry.icon }}" alt="{{ entry.author or entry.feed}}" title="{{ entry.author or entry.feed }}">
            </figure>
            <div class="media-content is-clickable">
                <div class="content">
                    <p>
                        <b><a href="{{ entry.url }}" target="_blank">{{ entry.title | truncate(70) }}</a></b>
                        <br/><small class="has-text-grey-light">{{ entry.date | humanize }} · {{ entry.feed}}</small>
                        <br/>
                    {{ entry.body | safe }}
                    </p>
                </div>
                <nav class="level">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-comment-alt"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-tag"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
                    </a>

                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-share-alt"></i></span>
                    </a>
                    <a class="level-item">
                        <class="icon is-small"><i class="fas fa-ellipsis-h"></i></span>
                    </a>
                </nav>
            </div>
            <div class="media-right">
                <span class="icon is-small"><i class="fas fa-external-link-alt"></i></span>
            </div>
            <div class="media-right">
                <span class="icon is-small"><i class="fas fa-thumbtack"></i></span>
            </div>
        </article>
        {% endfor %}
            </div>
        </div>
    </section>
</body>
