<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <title>Feedi</title>
</head>
<body>
    <section class="section">
        <div class="container is-max-desktop">
        {% for entry in entries %}
        <div class="card feed-entry is-radiusless">
            <div class="card-content">
                <div class="columns">
                    <div class="column is-narrow">
                        <figure class="image is-32x32">
                            <img class="is-rounded" src="{{ entry.avatar_url or entry.feed.icon_url }}" alt="{{ entry.username or entry.feed.name}}" title="{{ entry.username or entry.feed.name }}">
                        </figure>
                    </div>
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                            <p>
                                <b><a class="feed-title" href="{{ entry.title_url }}" target="_blank">{{ entry.title }}</a></b>
                                <br/>
                                <small class="has-text-grey-light">{{ entry.remote_updated | humanize }} · {{ entry.feed.name}}</small>
                            </p>
                            </div>
                            <div class="column is-narrow">
                                <a><span class="button is-white is-rounded"><i class="fas fa-trash-alt"></i></span></a>
                                <a><span class="button is-white is-rounded"><i class="fas fa-thumbtack"></i></span></a>
                                <a><span class="button is-white is-rounded"><i class="fas fa-comment-alt"></i></span></a>
                                <a><span class="button is-white is-rounded"><i class="fas fa-ellipsis-v"></i></span></a>
                            </div>
                        </div>

                        <div class="columns">
                            {% if entry.media_url  %}
                            <div class="column is-narrow">
                                <figure class="image media-url">
                                    <img src="{{ entry.media_url }}" alt="FIXME">
                                </figure>
                            </div>
                            {% endif %}
                            {% if entry.body %}
                            <div class="column">
                                <p>{{ entry.body | safe }}</p>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>



            </div>
        </div>
        {% endfor %}
            </div>
    </section>
</body>
