<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <title>Feedi</title>
</head>
<body>
    <section class="section">
        <div class="container is-max-desktop">
        {% for entry in entries %}
        <div class="card feed-entry is-radiusless">
            <div class="card-content">
                <div class="media">
                    <figure class="media-left image is-48x48">
                        <img class="is-rounded" src="{{ entry.avatar or entry.icon }}" alt="{{ entry.author or entry.feed}}" title="{{ entry.author or entry.feed }}">
                    </figure>
                    <div class="media-content is-clickable">
                        <p>
                            <b><a href="{{ entry.url }}" target="_blank">{{ entry.title | truncate(70) }}</a></b>
                            <br/>
                            <small class="has-text-grey-light">{{ entry.date | humanize }} · {{ entry.feed}}</small>
                        </p>
                        <div class="content">
                            <p>{{ entry.body | safe }}</p>
                        </div>
                    </div>

                    <div class="media-right">
                        <a><span class="button is-white is-rounded"><i class="fas fa-trash-alt"></i></span></a>
                        <a><span class="button is-white is-rounded"><i class="fas fa-thumbtack"></i></span></a>
                    </div>
                </div>

            <nav class="level is-mobile">
                <a class="level-item">
                    <span class="button is-white is-rounded"><i class="fas fa-comment-alt"></i></span>
                </a>
                <a class="level-item">
                    <span class="button is-white is-rounded"><i class="fas fa-share-alt"></i></span>
                </a>
                <a class="level-item">
                    <span class="button is-white is-rounded"><i class="fas fa-tag"></i></span>
                </a>
                <a class="level-item">
                    <span class="button is-white is-rounded"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </nav>
            </div>
                    </div>
        {% endfor %}
            </div>
    </section>
</body>
