{% for entry in entries %}
 <div class="card feed-entry is-radiusless">
     <div class="card-content">
         <div class="columns">
             <div class="column is-narrow">
                 <figure class="image is-32x32">
                     <img class="is-rounded" src="{{ entry.avatar_url or entry.feed.icon_url }}" alt="{{ entry.username or entry.feed.name}}" title="{{ entry.username or entry.feed.name }}">
                 </figure>
             </div>
             <div class="column">
                 <div class="columns feed-header">
                     <div class="column">
                         <p>
                             <b><a class="feed-title" href="{{ entry.title_url }}" target="_blank">{{ entry.title }}</a></b>
                             <br/>
                             <small class="has-text-grey-light">{{ entry.remote_updated | humanize }} · {{ entry.feed.name}}</small>
                         </p>
                     </div>
                     <div class="column is-narrow">
                         <a class="button is-white is-rounded" title="Remove entry"><i class="fas fa-trash-alt"></i></a>
                         <a class="button is-white is-rounded" title="Pin entry"><i class="fas fa-thumbtack"></i></a>
                         {% if entry.entry_url %}<a href="{{ entry.entry_url }}" target="_blank" class="button is-white is-rounded" title="Comment on source"><i class="fas fa-comment-alt"></i></a>{% endif %}

                         <div class="dropdown">
                             <div class="dropdown-trigger">
                                 <a class="button is-white is-rounded"
                                    _="on click toggle .is-active on the closest .dropdown then
                                           on click elsewhere remove .is-active from the closest .dropdown">
                                     <i class="fas fa-ellipsis-v"></i>
                                 </a>
                             </div>
                             <div class="dropdown-menu" role="menu">
                                 <div class="dropdown-content">
                                     <a class="dropdown-item"><span class="icon"><i class="fas fa-share"></i></span> Share</a>
                                     <a class="dropdown-item"><span class="icon"><i class="fas fa-tag"></i></span> Tags</a>
                                     <a class="dropdown-item"><span class="icon"><i class="fas fa-user-plus"></i></span> Add feed</a>
                                     <hr class="dropdown-divider">
                                     <a class="dropdown-item" href="/entries/{{ entry.id }}/raw" target="_blank"><span class="icon"><i class="fas fa-file-code"></i></span>  View raw entry data</a>
                                     <a class="dropdown-item" href="/feeds/{{ entry.feed.id }}/raw" target="_blank"><span class="icon"><i class="fas fa-file-code"></i></span>  View raw feed data</a>
                                 </div>
                             </div>
                         </div>

                     </div>
                 </div>

                 <div class="columns">
                     {% if entry.media_url %}
                     <div class="column is-one-quarter media-url-container {% if session.hide_media %}is-hidden{% endif %}">
                         <figure class="image media-url is-5by3">
                             <img src="{{ entry.media_url }}" alt="article preview" onerror='this.parentNode.parentNode.style.display = "none"'>
                         </figure>
                     </div>
                     {% endif %}
                     {% if entry.body %}
                     <div class="column">
                         <p>{{ entry.body | safe }}</p>
                     </div>
                     {% endif %}
                 </div>
             </div>
         </div>
     </div>
 </div>
 {% if loop.last %}
 <div hx-get="/entries/after/{{ entry.remote_updated.timestamp()  }}" hx-trigger="revealed" hx-swap="outerHTML"></div>
 {% endif %}
 {% endfor %}
