{% for entry in entries %}
 <div class="card feed-entry is-radiusless">
     <div class="card-content">
         <div class="columns">
             <div class="column is-narrow">
                 <figure class="image is-32x32">
                     <img class="is-rounded" src="{{ entry.avatar_url or entry.feed.icon_url }}" alt="{{ entry.username or entry.feed.name}}" title="{{ entry.username or entry.feed.name }}">
                 </figure>
             </div>
             <div class="column">
                 {% include "entry_header.html" %}

                 <div class="columns is-clickable"
                      hx-get="/entries/{{ entry.id }}/content"
                      hx-trigger="click"
                      hx-target="next .entry-content"
                      hx-indicator="next .htmx-indicator"
                      _="on click add .is-active to next .reader-modal">
                     {% if entry.media_url %}
                     <div class="column is-one-quarter media-url-container {% if session.hide_media %}is-hidden{% endif %}">
                         <figure class="image media-url is-5by3">
                             <img src="{{ entry.media_url }}" alt="article preview" onerror='this.parentNode.parentNode.style.display = "none"'>
                         </figure>
                     </div>
                     {% endif %}
                     {% if entry.body %}
                     <div class="column">
                         <p>{{ entry.body | safe }}</p>
                     </div>
                     {% endif %}
                 </div>
                 <div class="modal reader-modal" _="on keyup[key is 'Escape'] elsewhere remove .is-active from me">
                     <div class="modal-background" _="on click remove .is-active from closest .reader-modal"></div>
                     <div class="modal-content">
                         <div class="box">
                             <div class="columns">
                                 <div class="column is-narrow">
                                     <figure class="image is-32x32">
                                         <img class="is-rounded" src="{{ entry.avatar_url or entry.feed.icon_url }}" alt="{{ entry.username or entry.feed.name}}" title="{{ entry.username or entry.feed.name }}">
                                     </figure>
                                 </div>
                                 <div class="column">
                                     <div class="content">
                                         {% include "entry_header.html" %}
                                     </div>
                                 </div>
                             </div>
                             <div class="content entry-content">
                                 <div class="has-text-centered htmx-indicator"><button class="button is-loading is-large is-white htmx"></button></div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 {% if loop.last %}
 <div hx-get="/entries/after/{{ entry.remote_updated.timestamp()  }}" hx-trigger="revealed" hx-swap="outerHTML"></div>
 {% endif %}
 {% endfor %}
